* {
  border: 0.1px solid black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: fantasy;
  font-size: 16px;
}

.page {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
}

.grid-box-column {
  display: flex;
  flex-direction: column;
}

.grid-box-row {
  width: 30px;
  height: 30px;
  border: 1px solid black; /* Just for visibility */
}

.selection-bar {
  display: flex;
  flex-direction: column;
  height: 482px;
  width: 45px;
  margin-right: 2px;
}

.selection-btn {
  height: 30px;
}